body{
    background-color: #ff00dd !important;
}
#app {
    font-family: 'Titillium Web', sans-serif;
    color: skyblue;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    // 返回顶部
    .top{
        padding: 5px 10px;
        background: rgba(229, 0, 50, 0.7);
        color: #fff;
        text-align: center;
        font-size: 14px;
        border-radius: 10px;
    }
    // 过渡动效
      .slide-left-enter, .slide-right-leave-active {
        opacity: 0;
        transform: translateY(-30px);
      }
      .slide-left-leave-active, .slide-right-enter {
        opacity: 0;
        transform:translateY(30px);;
      }
}
.y-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
